/* ranking.component.scss */
.table-info th {
  background-color: #008b8b !important;
  color: #fff;
}

.gold {
  color: #d4af37;
  font-weight: bold;
}

.silver {
  color: #c0c0c0;
  font-weight: bold;
}

.bronze {
  color: #cd7f32;
  font-weight: bold;
}
